*~
.DS_Store
*.xcuserdatad
.idea/*
*/.idea/*
*.iml
*/*.iml
.settings
*/.settings
.project
*/.project
.classpath
*/.classpath
*.log
.log.log.swp
.factorypath
*/target
.idea/workspace.xml
*.jar
*.rar
*.war
*/*/target/*
.target
.target/*
.class/*
.class
*.class
*.zip
*/.idea/*
*.gz
*.classpath
*.project

