<configuration scan="true" scanPeriod=" 5 seconds">
    <jmxConfigurator/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %X{tid} %logger[%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="all" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>dir</Key>
            <DefaultValue>/tmp/</DefaultValue>
        </discriminator>
        <sift>
            <appender name="ssm-demo" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>/tmp/logs/ssm-demo.log</File>
                <rollingPolicy
                        class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>/data/logs/ssm-demo/%d{yyyy-MM-dd}/hr-task-%i.log
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>100MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>60</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %X{tid} %logger[%line] - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>



    <root level="DEBUG">
        <appender-ref ref="console"/>
        <!--<appender-ref ref="all"/>-->
    </root>
</configuration>